* {
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  color: #333;
  background: #f5fafe;
}

.conteiner {
  max-width: 1110px;
  margin: auto;
}

img {
  max-width: 100%;
}

.navbar {
  background: #fff;
}
.navbar__search {
  margin-right: auto;
  margin-left: 108px;
}

.navbar-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.navbar-top__menu-button {
  display: none;
}

.logo {
  width: 177px;
}
.search {
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}
.search__input {
  width: 350px;
  background: #F5FAFE;
  border: navajowhite;
  height: 40px;
  font-size: 12px;
  color: #333;
  padding: 0 88px 0 23px;
}
.search__button {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 65px;
  background: #ec1f46;
  border: none;
  cursor: pointer;
}

.user {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.user__name {
  font-size: 14px;
  line-height: 18px;
  color: #333;
  margin-left: 18px;
}
.user-avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar-bottom {
  background: #0a223d;
}

.navbar-menu {
  padding-left: 0;
  list-style: none;
  display: flex;
  align-items: center;
  padding: 31px 0;
  justify-content: space-between;
}
.navbar-menu__link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}

.breadcrumb-list {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 18px 0;
}
.breadcrumb-list__item {
  font-size: 10px;
  line-height: 13px;
}
.breadcrumb-list__item:not(:last-child)::after {
  content: "/";
  margin-right: 4px;
}
.breadcrumb-list__link {
  text-decoration: none;
  color: inherit;
}

.hotel {
  padding: 23px 0 70px 0;
}
.hotel-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.hotel-conteiner {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.hotel-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hotel-info__offer {
  margin-top: 4px;
  margin-left: 14px;
  order: 0;
}
.hotel-description {
  font-size: 12px;
  line-height: 15px;
}
.hotel-name {
  font-size: 24px;
  line-height: 30px;
  margin-top: 4px;
  margin-bottom: 0px;
}

.stars {
  flex-basis: 100%;
}

.offer {
  font-size: 10px;
  line-height: 13px;
  padding: 4px 9px;
  background: #ec1f46;
  border-radius: 3px;
  color: #fff;
}

.rating {
  text-align: center;
  max-width: 65px;
  min-height: 45px;
  color: #fff;
  background: #ec1f46;
  border-radius: 4px;
}
.rating__text {
  font-size: 8px;
  line-height: 10px;
}
.rating__counter {
  font-size: 14px;
  line-height: 18px;
}

.swiper-conteiner {
  width: 100%;
  height: 450px;
  border-radius: 8px;
  position: relative;
}
.swiper-conteiner:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%);
  z-index: 2;
}
.swiper-slide__image {
  max-width: 100%;
  height: 100%;
}

.slider {
  position: relative;
  max-width: 728px;
}
.slider-button {
  position: absolute;
  top: 50%;
  height: 30px;
  width: 30px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  z-index: 99;
  cursor: pointer;
}
.slider-button--prev {
  left: 18px;
  height: 16px;
  width: 16px;
  background: url(/img/arrow-l.svg) no-repeat;
  z-index: 6;
}
.slider-button--next {
  right: 18px;
  height: 16px;
  width: 16px;
  background: url(/img/arrow.svg) no-repeat;
  z-index: 6;
}

.booking {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.booking__description {
  max-width: 350px;
  background: #0a223d;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 28px;
  color: #fff;
  justify-content: space-between;
}
.booking__price {
  display: flex;
  flex-direction: column;
}
.booking__text {
  font-size: 10px;
  line-height: 14px;
}
.booking__pricetag {
  font-size: 24px;
  line-height: 33px;
}
.booking__rer-room {
  font-size: 12px;
  line-height: 16px;
}
.booking__flat {
  max-width: 80px;
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 4px;
  flex-basis: 50%;
}
.booking__guests {
  position: relative;
}
.booking__guests::after {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  top: 3px;
  left: -21px;
  background: url("/img/guests.svg");
}
.booking__room {
  position: relative;
}
.booking__room::after {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  top: 3px;
  left: -20px;
  background: url("/img/flat.svg") no-repeat;
}
.booking__quick {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  font-size: 18px;
  line-height: 25px;
  margin-top: 9px;
}
.booking__heading {
  text-decoration: none;
  color: #fff;
}
.booking__phone {
  text-decoration: none;
  color: #fff;
  position: relative;
}
.booking__phone::after {
  content: "";
  position: absolute;
  height: 14px;
  width: 14px;
  top: 6px;
  left: -22px;
  background: url("/img/phone-call.svg");
}
.booking__button {
  flex-basis: 100%;
  background: #ec1f46;
  padding: 13px;
  font-size: 14px;
  line-height: 19px;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 17px;
}

.map {
  background: #333;
  width: 347px;
  height: 213px;
  border-radius: 10px;
  overflow: hidden;
}

.activites {
  padding: 60px 0 98px 0;
}
.activites__title {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.activites-wrapper {
  display: flex;
  justify-content: space-between;
}

.card {
  height: 255px;
  width: 255px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 25px;
}
.card::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  background: linear-gradient(179.83deg, rgba(196, 196, 196, 0) 35.34%, #0a223d 99.85%);
}
.card__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  height: 100%;
  width: 100%;
}
.card__text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  margin-top: auto;
}
.card__button {
  color: #fff;
  background: #ec1f46;
  border-radius: 4px;
  border: none;
  padding: 7px 21px;
}

.footer {
  padding: 91px 0 63px 0;
  background: #0a223d;
}
.footer__logo {
  align-self: center;
}
.footer__title {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 23px;
}
.footer__list {
  padding-left: 0;
}
.footer__item {
  list-style: none;
}
.footer__link {
  text-decoration: none;
  color: #bdbdbd;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
}
.footer__links {
  display: flex;
  justify-content: space-between;
  min-width: 80px;
  margin-left: 50px;
}
.footer__contact {
  grid-row: 3/4;
  grid-column: span 2;
}
.footer__text {
  color: #bdbdbd;
  margin-top: 34px;
  margin-bottom: 30px;
}
.footer__info {
  padding-left: 40px;
}
.footer__info-1 {
  position: relative;
}
.footer__info-1 :before {
  content: "";
  width: 100%;
  top: 6px;
  left: 0;
  height: 100%;
  position: absolute;
  background: url(/img/point-icon.svg) no-repeat;
}
.footer__info-2 {
  position: relative;
}
.footer__info-2 :before {
  content: "";
  width: 100%;
  top: 6px;
  left: 0;
  height: 100%;
  position: absolute;
  background: url(/img/phone-icon.svg) no-repeat;
}
.footer__info-3 {
  position: relative;
}
.footer__info-3 :before {
  content: "";
  width: 100%;
  top: 6px;
  left: 0;
  height: 100%;
  position: absolute;
  background: url(/img/mail-icon.svg) no-repeat;
}
.footer__form {
  grid-row: 3/4;
  grid-column: span 2;
}

.footer-bottom {
  margin-top: 102px;
  display: flex;
  justify-content: space-between;
}
.footer-bottom__link {
  margin: auto;
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, -webkit-min-content);
  grid-template-rows: repeat(5, min-content);
}

.social-network {
  grid-column: 3/5;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.legal {
  justify-self: end;
  grid-row: 1/2;
  grid-column: 4/5;
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 34px;
}
.form__input {
  padding: 0 15px;
  flex-basis: 40%;
  height: 50px;
  border: none;
  border-radius: 4px;
}
.form__area {
  flex: 0 0 100%;
  border-radius: 4px;
  padding: 15px;
  margin: 20px 0;
  resize: none;
  height: 123px;
}
.form__button {
  color: #fff;
  background: #ec1f46;
  padding: 18px 60px;
  border-radius: 4px;
}
.form__text {
  color: #bdbdbd;
}

@media (max-width: 1200px) {
  .conteiner {
    max-width: 960px;
  }

  .slider {
    width: 600px;
  }

  .card {
    width: 220px;
    height: 250px;
  }
}
@media (max-width: 992px) {
  .conteiner {
    max-width: 700px;
  }

  .logo {
    width: 132px;
  }

  .hotel-conteiner {
    flex-direction: column;
    align-items: start;
  }

  .slider {
    width: 100%;
  }

  .navbar-top {
    padding: 30px auto;
  }
  .navbar__search {
    margin-left: auto;
  }
  .navbar-menu {
    padding: 22px auto;
  }
  .navbar-menu__link {
    font-size: 12px;
    line-height: 15px;
  }

  .search__input {
    max-width: 340px;
  }

  .booking {
    margin-top: 50px;
    flex-direction: row;
  }
  .booking__description {
    margin-right: 5px;
  }

  .map {
    margin-left: 5px;
  }

  .activites-wrapper {
    flex-wrap: wrap;
  }

  .card {
    width: 48%;
    margin-bottom: 15px;
  }

  .footer-wrapper {
    grid-template-columns: repeat(6, 1fr);
    grid-row-gap: 50px;
  }
  .footer__contact {
    grid-column: 1/7;
    grid-row: 3/4;
  }
  .footer__form {
    grid-column: 1/6;
    grid-row: 4/5;
  }

  .social-network {
    grid-column: 3/7;
    grid-row: 1/2;
    align-self: center;
    margin-bottom: 0;
  }

  .legal {
    grid-row: 2/3;
    grid-column: 3/4;
    grid-column: 5/7;
    justify-self: end;
  }

  .additional {
    grid-row: 2/3;
    grid-column: 3/5;
  }

  .categories {
    grid-row: 2/3;
    grid-column: 1/3;
  }
}
@media (max-width: 768px) {
  .conteiner {
    max-width: 576px;
    width: 92%;
  }

  .swiper-conteiner {
    height: auto;
  }

  .booking {
    margin-top: 50px;
    flex-direction: column;
  }
  .booking__description {
    margin-right: 0;
    max-width: 100%;
  }

  .navbar__search, .navbar__user, .navbar-menu {
    display: none;
  }
  .navbar__menu-button {
    display: flex;
  }

  .menu-button {
    display: flex;
    align-items: center;
    height: 11px;
    padding: 0;
    cursor: pointer;
    border: none;
    background: #fff;
    width: 16px;
    justify-content: space-between;
    flex-direction: column;
  }
  .menu-button__line {
    width: 16px;
    height: 1px;
    background: #333;
  }

  .stars {
    flex-basis: content;
  }

  .hotel-wrapper {
    justify-content: space-between;
  }
  .hotel-name {
    flex-basis: 100%;
  }
  .hotel-info {
    display: block;
  }
  .hotel-info__rating {
    display: none;
  }
  .hotel-info__rating__text {
    width: 100%;
  }
  .hotel-info__offer {
    order: -1;
    margin-left: 0;
  }

  .map {
    margin-top: 50px;
    width: 100%;
  }
}
@media (max-width: 576px) {
  .logo {
    width: 99px;
  }

  .card {
    width: 100%;
  }

  .footer-wrapper {
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
  .footer__logo {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .footer__contact {
    grid-row: 6/7;
  }
  .footer__form {
    grid-row: 7/8;
  }
  .footer__links {
    max-width: 85px;
    margin-left: 0;
  }
  .footer-bottom {
    display: block;
  }
  .footer-bottom__link {
    margin: 0 0 15px 0;
  }

  .social-network {
    grid-column: 1/2;
    grid-row: 2/3;
    display: block;
  }

  .legal {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: start;
  }

  .additional {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .categories {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}/*# sourceMappingURL=style.css.map */