@media (max-width:1200px){
  .conteiner{
    max-width: 960px;
  }
}

@media (max-width:992px){
  .conteiner{
    max-width: 700px;
  }
  .logo{
    width: 132px;
  }
  .navbar{

    &-top{
      padding: 30px auto;
    }
  &__search{
    margin-left:auto;
    max-width: 340px;

    }
  &-menu{
    padding: 22px auto;
      &__link{
        font-size: 12px;
        line-height: 15px;
      }
    }
  }
  
}

@media (max-width:768px){
  .conteiner{
    max-width: 576px;
    width: 92%;
  }
  .navbar{
    &__search,&__user,&-menu{
      display: none;
    }
    &__menu-button{
      display: flex;
    }
  }
  .menu{
    &-button{
      display: flex;
      align-items: center;
      height: 11px;
      cursor: pointer;
      border:none;background:#fff;
      width: 16px;
      justify-content: space-between;
      flex-direction: column;
      &__line{
        width: 16px;
        height: 1px;
        background:$text-color;
      }
    }
  }
}

@media (maw-width:576px) {
  .logo{
    width: 99px;
  } 
}